// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: blue;
}

a {
  color: #FFCDB2;
  &:hover {
    color: #2E2A37;
  }
}
